<!-- <div ng-repeat="items in foundList">
	{{items.name}},{{items.short_name}},{{items.description}}
	<button> Don't want this one!</button>
</div> -->
<div class="">
	<br>
	<ol>
			<li  ng-repeat="item in restuarantMenu.foundItem">
				{{item.name}},{{item.short_name}},{{item.description}}
				<button ng-click="restuarantMenu.onRemove({index: $index})"> Don't want this one!</button>
			</li>
	</ol>
	<div class='error' ng-if='!restuarantMenu.foundItem.length'>Nothing found</div>
</div>

<!-- <h1>In found {{restuarantMenu.items}}</h1> -->
