<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app="RestaurantMenuApp">
   <div class="container" ng-controller="NarrowItDownController as menu">
      <h1>Narrow Down Your Chinese Menu Choice</h1>
      <div>
      <div class="search">
        <input type="text" placeholder="search term" class="form-control" ng-model="menu.searchValue">
      </div>
      <div class=" narrow-button">
        <button class="btn btn-primary" ng-click='menu.getMenuDetails()'>Narrow It Down For Me!</button>
      </div>
    </div>
      <!-- found-items should be implemented as a component -->
      <!-- <br><div ng-repeat="items in menu.foundList">
        {{items.name}},{{items.short_name}},{{items.description}}
        <button ng-click="menu.removeItemFromList($index)"> Don't want this one!</button><br>
        <div class='error' ng-if='!menu.searchValue'>Nothing found</div>
      </div> -->
      <!-- <found-items found-items="...." on-remove="...."></found-items> -->
      <found-items
      found-item="menu.foundList"
      on-remove="menu.removeItemFromList(index)"
      on-error="menu.errorMsg"
      class="ng-isolate-scope"></found-items>
  </div>

</body>
</html>
